body {
    box-sizing: border-box;
    background-image: url("/assets/background-wall.jpg");
}

.wall {
    padding-top: 50px;
    width: 435px;
    height: 667px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pinpad-back {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 600px;
    background: linear-gradient(270deg, #222B3D 0%, #6A758B 100%);
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(0, 0, 0, 0.7), inset 0px -14px 0px #161C27;
    border-radius: 18px;
}

.pinpad-front {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 370px;
    height: 590px;
    box-sizing: border-box;
    background: #364157;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #68748A;
}

.lcd-screen {
    margin-top: 20px;
    width: 300px;
    height: 130px;
    box-sizing: border-box;
    background: #E5F3F2;
    border: 2px solid #242D3F;
    box-shadow: inset 0px 3px 6px 3px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.lcd-screen > img {
    height: 30px;
}

.lcd-text {
    font-family: "DS-Digital";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #5D6A69;
    width: 200px;
    height: 70px;
    background-color: #E5F3F2;
    border: none;
    
}

input[type="password"] {
    input-security: "*";
  }

.keyboard {
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    margin-top: 15px;
}

.button-pad {
    width: 85px;
    height: 75px;
    margin: 28px;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin: 10px;
    background: linear-gradient(180deg, #414D66 0%, #161C27 100%);
    border: 2px solid rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 1px 1px rgba(143, 165, 208, 0.5), inset 0px 0px 0px 3px rgba(211, 226, 255, 0.19), inset 0px 0px 5px 2px rgba(105, 136, 198, 0.3);
    border-radius: 6px
}

.button-pad.button-c {
    font-family: 'Adobe Clean';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    display: block;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.4);
    background: linear-gradient(180deg, #EF6476 0%, #CF5060 100%);
    border: 2px solid rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 1px 1px rgba(143, 165, 208, 0.5), inset 0px 0px 0px 3px rgba(211, 226, 255, 0.19), inset 0px 0px 5px 2px rgba(105, 136, 198, 0.3);
    border-radius: 6px
}

.button-pad.button-save {
    font-family: 'Adobe Clean';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    display: block;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.4);
    background: linear-gradient(180deg, #6AECB0 0%, #42A484 100%);
    border: 2px solid rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 1px 1px rgba(143, 165, 208, 0.5), inset 0px 0px 0px 3px rgba(211, 226, 255, 0.19), inset 0px 0px 5px 2px rgba(105, 136, 198, 0.3);
    border-radius: 6px;
}

.button-pad.button-enter {
    font-family: 'Adobe Clean';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    display: block;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.4);
    background: linear-gradient(180deg, #6AECB0 0%, #42A484 100%);
    border: 2px solid rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 1px 1px rgba(143, 165, 208, 0.5), inset 0px 0px 0px 3px rgba(211, 226, 255, 0.19), inset 0px 0px 5px 2px rgba(105, 136, 198, 0.3);
    border-radius: 6px;
}

.button-pad.number {
    font-family: 'Adobe Clean';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    display: block;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.4);
}

.modal {
    position: absolute;
    width: 422px;
    height: 244px;
    left: 42px;
    top: 110px;
}


.modal-content {
    width: 366px;
    height: 545px;
    background: #F0F0F0;
    border: 2px solid #949494;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5), 0px 8px 16px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    box-sizing: border-box;


}

.bienvenido {
    font-family: 'Adobe Clean';
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 45px;
    text-align: center;
    color: #747474;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: center;
    padding: 20px;
}

.instrucciones {
    font-family: 'Adobe Clean';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    color: #747474;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.close-modal {
    width: 17.5px;
    height: 17.5px;
    position: relative;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding: 20px;
}

.modal-content-2 {
    width: 366px;
    height: 545px;
    background: #F0F0F0;
    border: 2px solid #949494;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5), 0px 8px 16px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    box-sizing: border-box;
}
.modal-2 {
    position: absolute;
    width: 422px;
    height: 244px;
    left: 42px;
    top: 110px;
}


.bienvenido-2 {
    font-family: 'Adobe Clean';
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 45px;
    text-align: center;
    color: #747474;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: center;
    padding: 20px;
}

.instrucciones-2 {
    font-family: 'Adobe Clean';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    color: #747474;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.close-modal-2 {
    width: 17.5px;
    height: 17.5px;
    position: relative;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding: 20px;
}

/* .modal-container {
    
} */



.modal-error {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 450px;
    height: 79px;
    background: #FFD600;
    border-bottom: 2px solid #C2AF03; 
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
    from {
      top: -100%;
    }
    to {
      top: 0;
    }
  }

.modal-error > p {
    
    font-family: 'Adobe Clean';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    color: #635905;
    
}




/* MEDIA QUERY PARA DESKTOP */


@media (min-width: 900px) {

    
    
    .wall {
        width: auto;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .pinpad-back {
        display: flex;
        justify-content: center;
        width: 400px;
        height: 600px;
        background: linear-gradient(270deg, #222B3D 0%, #6A758B 100%);
        box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(0, 0, 0, 0.7), inset 0px -14px 0px #161C27;
        border-radius: 18px;
    }
    
    .pinpad-front {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 370px;
        height: 590px;
        box-sizing: border-box;
        background: #364157;
        border-width: 1px 1px 1px 0px;
        border-style: solid;
        border-color: #68748A;
    }
    
    .lcd-screen {
        margin-top: 20px;
        width: 300px;
        height: 130px;
        box-sizing: border-box;
        background: #E5F3F2;
        border: 2px solid #242D3F;
        box-shadow: inset 0px 3px 6px 3px rgba(0, 0, 0, 0.6);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .lcd-screen.eye-icon {
        height: 30px;
    }
    
    .lcd-text {
        font-family: "Ds-Digital";
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #5D6A69;
        
    }

    .wrong {
        font-family: "Ds-Digital";
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #5D6A69;
        
    }
    
    
    
    .keyboard {
        width: 300px;
        height: 450px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: center;
        margin-top: 15px;
    }
    
    .button-pad {
        width: 85px;
        height: 75px;
        margin: 28px;
        display: block;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
        margin: 10px;
        background: linear-gradient(180deg, #414D66 0%, #161C27 100%);
        border: 2px solid rgba(0, 0, 0, 0.7);
        box-shadow: 0px 0px 1px 1px rgba(143, 165, 208, 0.5), inset 0px 0px 0px 3px rgba(211, 226, 255, 0.19), inset 0px 0px 5px 2px rgba(105, 136, 198, 0.3);
        border-radius: 6px
    }
    
    .button-pad.button-c {
        font-family: 'Adobe Clean';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 33px;
        display: block;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.4);
        background: linear-gradient(180deg, #EF6476 0%, #CF5060 100%);
        border: 2px solid rgba(0, 0, 0, 0.7);
        box-shadow: 0px 0px 1px 1px rgba(143, 165, 208, 0.5), inset 0px 0px 0px 3px rgba(211, 226, 255, 0.19), inset 0px 0px 5px 2px rgba(105, 136, 198, 0.3);
        border-radius: 6px
    }
    
    .button-pad.button-save {
        font-family: 'Adobe Clean';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 33px;
        display: block;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.4);
        background: linear-gradient(180deg, #6AECB0 0%, #42A484 100%);
        border: 2px solid rgba(0, 0, 0, 0.7);
        box-shadow: 0px 0px 1px 1px rgba(143, 165, 208, 0.5), inset 0px 0px 0px 3px rgba(211, 226, 255, 0.19), inset 0px 0px 5px 2px rgba(105, 136, 198, 0.3);
        border-radius: 6px;
    }

    .button-pad.button-enter {
        font-family: 'Adobe Clean';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        display: block;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.4);
        background: linear-gradient(180deg, #6AECB0 0%, #42A484 100%);
        border: 2px solid rgba(0, 0, 0, 0.7);
        box-shadow: 0px 0px 1px 1px rgba(143, 165, 208, 0.5), inset 0px 0px 0px 3px rgba(211, 226, 255, 0.19), inset 0px 0px 5px 2px rgba(105, 136, 198, 0.3);
        border-radius: 6px;
    }

    .button-pad.number {
        font-family: 'Adobe Clean';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        display: block;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.4);
    }
    
    .modal {
        position: absolute;
        width: 834px;
        height: 275px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
    }
    
    .modal-content {
        width: 834px;
        height: 280px;
        background: #F0F0F0;
        border: 2px solid #949494;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5), 0px 8px 16px 8px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        
    }
    
    
    
    .bienvenido {
        font-family: 'Adobe Clean';
        font-style: normal;
        font-weight: 500;
        font-size: 54px;
        text-align: center;
        color: #747474;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: center;
        width: 600px;
        margin-bottom: 6px;
    }
    
    .instrucciones {
        font-family: 'Adobe Clean';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #747474;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        width: 380px;
        height: 60px;
    }
    
    .close-modal {
        position: absolute;
    width: 17,5px;
    height: 17,5px;
    right: 20px;
    top: 20px;
    }


    /* Segundo Modal que se genere luego del usuario entrar el primer pin */

    .modal-content-2 {
        width: 834px;
        height: 280px;
        background: #F0F0F0;
        border: 2px solid #949494;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5), 0px 8px 16px 8px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .modal-2 {
        position: absolute;
        width: 834px;
        height: 275px;
        left: 325px;
        top: 252px;
    }
    
    
    .bienvenido-2 {
        font-family: 'Adobe Clean';
        font-style: normal;
        font-weight: 500;
        font-size: 54px;
        text-align: center;
        color: #747474;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: center;
        width: 600px;
        margin-bottom: 6px;
    }
    
    .instrucciones-2 {
        font-family: 'Adobe Clean';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #747474;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        width: 380px;
        height: 60px;
    }
    
    .close-modal-2 {
        position: absolute;
    width: 17,5px;
    height: 17,5px;
    right: 20px;
    top: 20px;
    }

    /* Modal de error en la parte superior que aparezca desde arriba con animación */

    .modal-error {
        position: absolute;
        top: -100;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: 50px;
        background: #FFD600;
        border-bottom: 2px solid #C2AF03; 
        display: flex;
        align-items: center;
        justify-content: center;
        animation: slideDown 0.5s forwards;
    }

    @keyframes slideDown {
        from {
          top: -100%;
        }
        to {
          top: 0;
        }
      }

    .modal-error > p {
        
        font-family: 'Adobe Clean';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 38px;
        text-align: center;
        color: #635905;
        
    }
}